[Unit]
Description=BuildIt-online demo server
After=network.target
SartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=buildit-online-usr
RootDirectory=/home/buildit-online-usr/buildit-online/
ExecStart=/usr/bin/python3 /build/server.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
